---
import Layout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
console.log(allPosts);
---

<Layout
  title="Mi primer blog con Astro."
  pageTitle="Subtitulo de la pagina Blog"
>
  <h1>Mi blog con Astro</h1>
  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>

  <p>
    Empezamos muy bien para astro, esto me gusta mucho el enrutado, que bien :)
  </p>
</Layout>

<style></style>
