---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout
  title="Mi primer blog con Astro."
  pageTitle="Subtitulo de la pagina Blog"
>
  <h1>Mi blog con Astro</h1>
  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

  <ul>
    <li>
      <a href="/posts/post-1">Publicación 1</a>
      <a href="/posts/post-2">Publicación 2</a>
      <a href="/posts/post-3">Publicación 3</a>
    </li>
  </ul>

  <p>
    Empezamos muy bien para astro, esto me gusta mucho el enrutado, que bien :)
  </p>
</Layout>

<style></style>
