---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<Layout title="Mi primer blog.">
  <Header />
  <h1>Hola mundo.</h1>
  <p>este es mi rama main</p>
  <Footer />
  <script>
    import "../scripts/menu.js";
  </script>
</Layout>

<style>
  :root {
    color-scheme: dark light;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: 1200px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
